@use './resetStyles/normolize.scss';
@use './resetStyles/resetCss.scss';
@use 'sass:math';
@import './themes';
@import './helpers/_mixins';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
}

.nav-tabs{
    font-size: 20px;
    font-weight: 600;
    a{
        color: rgba(128, 128, 128, 0.699);
    }
}

.scene_1{
background: url(@img/Max.jpg) no-repeat left/50%,
        url(@img/Bill.jpg) no-repeat right/50%;
        height: 100vh;

        & :nth-child(odd){
            margin-left: auto;
        }
                & :nth-child(even) {
                    margin-right: auto;
                }
}

.btn__text{
    width: fit-content;
    align-self: center;
}

.btn__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    width: fit-content;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    gap: 24px;
}

.speach__wrapper{
    visibility: hidden;
    display: none;
}

.visible{
    display: flex;
    visibility: visible;
    flex-direction: column;
    width: 40%;
    background-color: #ffffffef;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid grey;
}


.scene_2 {
    background: url(@img/restaurant.png) no-repeat center/contain;
    height: 100vh;

    & :nth-child(odd) {
        margin-left: auto;
    }

    & :nth-child(even) {
        margin-right: auto;
    }
}

.scene_3 {
    background:url(@img/menu.png) no-repeat top/60%,url(@img/restaurant.png) no-repeat center/contain;
    height: 100vh;

    & :nth-child(odd) {
        margin-left: auto;
    }

    & :nth-child(even) {
        margin-right: auto;
    }
}

.scene_4 {
    background: url(@img/pay.png) no-repeat top/contain;
    height: 100vh;

    & :nth-child(odd) {
        margin-left: auto;
    }

    & :nth-child(even) {
        margin-right: auto;
    }
}